---
layout: normal
title: about
---

<section class="usa-section">
  <div class="usa-grid">
    <div class="usa-width-one-fourth">
      <iframe width="280" height="158"
      src="https://www.youtube.com/embed/yjE-GuhrEa0?rel=0" frameborder="0"
      allowfullscreen></iframe>
    </div>
    <div class="usa-width-one-fourth">
      <iframe width="280" height="158"
      src="https://www.youtube.com/embed/wIgtIWTOi9k?rel=0" frameborder="0"
      allowfullscreen></iframe>
    </div>
    <div class="usa-width-one-fourth">
      <iframe width="280" height="158"
      src="https://www.youtube.com/embed/sh7c4Do7P0I?rel=0" frameborder="0"
      allowfullscreen></iframe>
    </div>
    <div class="usa-width-one-fourth">
      <iframe width="280" height="158"
      src="https://www.youtube.com/embed/6IuS_vSPB84?rel=0" frameborder="0"
      allowfullscreen></iframe>
    </div>
  </div>
</section>


<section class="press usa-section background-dark">
  <div class="usa-grid">
    <div class="usa-width-one-whole">
      <h2>Our work in the news</h2>

      {% for ni in site.data.press %}
        {% assign index_mod = forloop.index0 | modulo:3  %}

        {% if index_mod == 0 %}
          <div class="usa-grid-full">
        {% endif %}
          
        <div class="story usa-width-one-third">
          <a href="{{ni.link}}">{{ ni.title }}</a>
          <span class="author">{{ ni.author }}</span>
        </div>

        {% if index_mod == 2 %}
          </div>
        {% elsif forloop.last %}
          </div>
        {% endif %}
      {% endfor %}

    </div>
  <div>
</section>

<section class="usa-section">
<div class="usa-grid">
<div class="usa-width-one-whole">

  <h2>Support</h2>

  {% for supporter in site.data.grants %}
    {% assign imod = forloop.index0 | modulo3 %}

    {% if imod == 0 %}
      <div class="usa-grid-full">
    {% endif %}

    <div class="usa-width-one-third">
      {{ supporter.name }}
    </div>

    {% if imod == 2 %}
      </div>
    {% elsif forloop.last %}
      </div>
    {% endif %}
  {% endfor %}
</div>
</div>
</section>

<section class="usa-section">
  <div class="usa-grid">
  <div class="usa-width-one-whole">

    <h2>Academic collaborators</h2>

    {% for co in site.data.collaborators %}
      {% assign imod = forloop.index0 | modulo3 %}

      {% if imod == 0 %}
        <div class="usa-grid-full">
      {% endif %}

      <div class="usa-width-one-third">
        {{ co.collaborator }}
      </div>

      {% if imod == 2 %}
        </div>
      {% elsif forloop.last %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
  </div>
</section>


