---
layout: normal
title: about
---
<section class="usa-section">
  <div class="usa-grid">
  <div class="usa-width-one-whole">

    <h2>Academic collaborators</h2>

    {% for co in site.data.collaborators %}
    {% endfor %}

    <h2>Support</h2>

  </div>
  </div>
</section>

<section class="press usa-section background-dark">
  <div class="usa-grid">
    <div class="usa-width-one-whole">
      <h2>Our work in the news</h2>

      {% for ni in site.data.press %}
        {% assign index_mod = forloop.index0 | modulo:3  %}

        {% if index_mod == 0 %}
          <div class="usa-grid-full">
        {% endif %}
          
        <div class="story usa-width-one-third">
          <a href="{{ni.link}}">{{ ni.title }}</a>
          <span class="author">{{ ni.author }}</span>
        </div>

        {% if index_mod == 2 %}
          </div>
        {% elsif forloop.last %}
          </div>
        {% endif %}
      {% endfor %}

    </div>
  <div>
</section>


