---
layout: normal
---

<aside class="usa-width-one-fourth usa-layout-docs-sidenav">
  <ul class="usa-sidenav-list">
    <li class="usa-current">
      People
    </li>
    <ul class="usa-sidenav-sub_list">
    <li>
      <a class="" href="{{ site.github.url }}/people.html">Lab</a>
    </li>
    <li>
      <a class="usa-current" href="{{ site.github.url }}/alumni.html">Alumni</a>
    </li>
  </ul>
</aside>


<section class="usa-width-three-fourths">
<div class="usa-grid usa-width-one-whole">
<h1>Alumni</h1>
</div>

{% for alumn in site.data.alumni %}
  {% assign index_mod = forloop.index0 | modulo:3 %}

  {% if index_mod == 0 %}
    <div class="usa-grid">
  {% endif %}

  <div class="usa-width-one-third">
    <h3>{{ alumn.name }}</h3>
    <p class="degree-position">{{ alumn.degree }}</p>


    <p class="space-it-out">
      Currently: {{ alumn.current }}
      {% if alumn.previous %}
      <br />Previously: {{ alumn.previous }}
      {% endif %}
    </p>
  </div>

  {% if index_mod == 2 %}
    </div>
  {% elsif forloop.last %}
    </div>
  {% endif %}
{% endfor %}
</section>
