---
layout: normal
title: people
---

<section class="usa-width-one-whole">
<div class="usa-grid usa-width-one-whole">
<h1>Alumni</h1>
</div>

{% for alumn in site.data.alumni %}
  {% assign index_mod = forloop.index0 | modulo:3 %}

  {% if index_mod == 0 %}
    <div class="usa-grid">
  {% endif %}

  <div class="usa-width-one-third">
    <h3>{{ alumn.name }}</h3>
    <p class="degree-position">{{ alumn.degree }}</p>


    <p class="space-it-out">
      Currently: {{ alumn.current }}
      {% if alumn.previous %}
      <br />Previously: {{ alumn.previous }}
      {% endif %}
    </p>
  </div>

  {% if index_mod == 2 %}
    </div>
  {% elsif forloop.last %}
    </div>
  {% endif %}
{% endfor %}
</section>
