---
layout: normal
---

{% for student in  site.data.group %}
  {% assign index_mod = forloop.index0 | modulo:3 %}

  {% if index_mod == 0 %}
  <div class="usa-grid">
  {% endif %} 

    <div class="usa-width-one-third space-it-out">
      <img class="shashank-people-image" src="{{ site.github.url }}/img/people/{{student.image}}">
      <h4>{{ student.name }}</h4>
      <p class="space-it-out">
      {{ student.position }} <br />
      Email: {{ student.email }} <br />
      Web: <a href="http://{{ student.web }}">{{ student.web }}</a>  <br />
      Office: {{ sudent.office }} <br />
      </p>
    </div>

  {% if index_mod == 2 %}
    </div>
  {% elsif forloop.last %}
    </div> 
  {% endif %} 
{% endfor %}
