---
layout: normal
---

<aside class="usa-width-one-fourth usa-layout-docs-sidenav">
  <ul class="usa-sidenav-list">
    <li>
      <a href="">People</a>
    </li>
    <ul class="usa-sidenav-sub_list">
    <li>
      <a class="{{ site.github.url }}/people.html" href="">Lab</a>
    </li>
    <li>
      <a class="" href="{{ site.github.url }}/alumni.html">Alumni</a>
    </li>
  </ul>
</aside>


<section class="usa-width-three-fourths">
<div class="usa-grid">
  <div class="usa-width-one-whole">
  <h3>Shweta Bansal</h3>
  <img class="shashank-people-image" src="{{site.github.url}}/img/people/shweta_lab.JPG">
  <p class="degree-position">Assistant Professor of Biology</p>
  <p class="space-it-out">
  <i class="fa fa-envelope-o"></i> shweta.bansal 'at' georgetown.edu<br />
  <i class="fa fa-external-link"></i> <a href="http://sbansal.com">sbansal.com</a> <br />
  <i class="fa fa-building-o"></i> Regents 510<br />
  </p>
  </div>
</div>

{% for student in  site.data.group %}
  {% assign index_mod = forloop.index0 | modulo:3 %}

  {% if index_mod == 0 %}
  <div class="usa-grid">
  {% endif %} 

    <div class="usa-width-one-third people-border">
      <h3>{{ student.name }}</h3>
      <img class="shashank-people-image" src="{{ site.github.url }}/img/people/{{student.image}}">
      <p class="degree-position">{{ student.position }}</p>
      <p class="space-it-out">
      {% if student.email %}
      <i class="fa fa-envelope-o"></i> {{ student.email }} <br />
      {% endif %}
      {% if student.web %}
      <i class="fa fa-external-link"></i> <a href="http://{{ student.web }}">{{ student.web }}</a>  <br />
      {% endif %}
      <i class="fa fa-building-o"></i>  {{ student.office }} <br />
      </p>
    </div>

  {% if index_mod == 2 %}
    </div>
  {% elsif forloop.last %}
    </div> 
  {% endif %} 
{% endfor %}
</section>
