---
layout: normal
title: publications
---

<section class="usa-width-three-fourths">
  <div class="usa-grid">
    {% for yearpubs in site.data.publications %}
      <h1>{{ yearpubs.year}}</h1>

      {% for paper in yearpubs.publications %}
        <p>
        <span class="publication-name"><a href="{{paper.link}}">{{ paper.title }}</a></span>
        <br />

        <span class="publication-author-list">
        {% for author in paper.authors %}
          {% if forloop.last %}
            {{ author.name }}
          {% else %}
            {{ author.name }},
          {% endif %}
        {% endfor %}
        </span>
        <br/>

        {{paper.journal}}, {{paper.citation}} 
        {% if paper.full_text_article %}
          <a href="{{ site.github.url }}/publications/{{paper.full_text_article}}">(full text)</a>
        {% endif %}
        </p>
      {% endfor %}
    {% endfor %}
  </div>
</section>
