---
layout: normal
title: publications
---

<section class="usa-width-three-fourths">
  <div class="usa-grid">
    {% for yearpubs in site.data.publications %}
      <h1>{{ yearpubs.year}}</h1>

      {% for paper in yearpubs.publications %}
        <p>
        <a href="{{paper.link}}">{{ paper.title }}</a>
        {% if paper.full_text_article %}
        <a href="{{}}">(full text)</a>
        {% endif %}
        <br />

        {% for author in paper.authors %}
          {% if forloop.last %}
            {{ author.name }}
          {% else %}
            {{ author.name }},
          {% endif %}
        {% endfor %}<br/>

        {{paper.citation}}
        </p>
      {% endfor %}
    {% endfor %}
  </div>
</section>
