---
layout: normal
title: publications
---


<div class="usa-grid">
<div class="usa-width-three-fourths">
    {% for yearpubs in site.data.publications %}
      <h1>{{ yearpubs.year}}</h1>

      {% for paper in yearpubs.publications %}
        <p>
        <span class="publication-name"><a href="{{paper.link}}">{{ paper.title }}</a></span>
        <br />

        <span class="publication-author">
        {% for author in paper.authors %}
          {% if forloop.last %}
            {% if author.lab %}<span class="publication-author-lab">{% endif %}
              {{ author.name }}
            {% if author.lab %}</span>{% endif %}
          {% else %}
            {% if author.lab %}<span class="publication-author-lab">{% else %}{% endif %}
              {{ author.name }},
            {% if author.lab %}</span>{% endif %}
          {% endif %}
        {% endfor %}
        </span>
        <br/>

        <span class="publications-journal">{{paper.journal}}</span>, <span
        class="publications-citation">{{paper.citation}}</span>
        {% if paper.full_text_article %}
          <a href="{{ site.github.url }}/publications/{{paper.full_text_article}}">(full text)</a>
        {% endif %}
        </p>
      {% endfor %}
    {% endfor %}
</div>
<div class="usa-width-one-fourth usa-alert usa-alert-info">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">Information<h3>
    <p class="usa-alert-text">Multiple</p>
  </div>
</div>
</div>
