---
layout: normal
title: research
---
<section id="research" class="usa-section research">
<div class="usa-grid">
<div class="usa-width-one-whole usa-content">
  <h1 class="bxheader">Research</h1>

  <div class="usa-grid-full">
    <div class="usa-width-two-thirds usa-content">
      <p class="bottom-space">
        Our work sits at the intersection of disease ecology, mathematical epidemiology, network science and data science, with applications in public health, veterinary medicine and wildlife conservation.

        The lab's current focus is on addressing these knowledge gaps:
        <ul>
          <li> How do we measure the structure of behavioral interactions that underlie disease transmission?</li>
          <li>What role do social behavior and social structure play on disease risk and dynamics?</li>
          <li>How do we leverage knowledge of socio-demographic and behavioral processes for the design of infectious disease surveillance and control policy?</li>
        </ul>
      
      Below, are some of the our research questions:
      </p>
    </div>
    <div class="usa-width-one-third award-details">
      <p class="collaborate"> <b>Collaborators</b> </p>
      <ul>
        {% for collaborator in site.data.collaborators %}
          <li class="supporter">{{ collaborator.name }}</li>
        {% endfor %}
      </ul>
      <p class="support"> <b>Support</b> </p>
      <ul>
        {% for supporter in site.data.supporters %}
          <li class="supporter">{{ supporter.name }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="usa-width-two-thirds">

  {% for topic in site.data.research %}
    <h3 class="topic-header">{{topic.topic}}</h3>

    <ul class="usa-accordion-bordered research-accordion"> 
    {% for question in topic.questions %}
      <li>
        <button 
          class="usa-accordion-button shashank-weight"
          aria-expanded="false" aria-controls="{{topic.tag}}-{{forloop.index}}">
          {{question.question}}
        </button>
        <div id="{{topic.tag}}-{{forloop.index}}" class="usa-accordion-content">
          {% for paper in question.publications %}
            <span class="publication-name">
            {% if paper.full_text_article %}
              <a href="{{ site.github.url}}/publications/{{ paper.full_text_article }}">{{ paper.title }}</a>
            {% elsif paper.link %}
              <a href="{{paper.link}}">{{ paper.title }}</a>
            {% else %}
              {{ paper.title }}
            {% endif %}
            <br />
            <span class="publication-author">
            {% for author in paper.authors %}
              {% if forloop.last %}
                {% if author.lab %}<span class="publication-author-lab">{% endif %}
                  {{ author.name }}
                {% if author.lab %}</span>{% endif %}
              {% else %}
                {% if author.lab %}<span class="publication-author-lab">{% else %}{% endif %}
                  {{ author.name }},
                {% if author.lab %}</span>{% endif %}
              {% endif %}
            {% endfor %} <br>
            {% if paper.journal %}
            <span class="publications-journal">{{paper.journal}}</span>,
            <span class="publications-citation"><a href=" {{paper.link}} ">{{paper.citation}}</a></span>
            {% endif %}

        </span>
        <br/>

        </span>

          {% endfor %}
        </div>
      </li>
    {% endfor %}
    </ul>
  {% endfor %}
 </div>
 <div class="usa-width-one-third">
  <!--
   <img 
    src="{{ site.github.url }}/img/research/elizabeth-pratha-working.jpg"
    alt="Elizabeth and Pratha in the lab">
  <img  
    src="{{ site.github.url }}/img/research/tortoise-oral-swab.jpg"
    alt="Desert tortoise oral swab">
  -->
 </div>
  </div> 
  
</div>
</div>

</section>
