---
layout: normal
title: research
---
<section id="research" class="usa-section research">
<div class="usa-grid">
<div class="usa-width-one-whole usa-content">
  <h1 class="bxheader">Research</h1>

  <div class="usa-grid-full">
    <div class="usa-width-two-thirds usa-content">
      <p class="bottom-space">Our research is based in disease ecology (also known as ecological
      epidemiology). This includes population and community level studies of the
      interactions between hosts and their pathogens, and covers diseases of both
      <a href="#human-infections">humans</a> and <a
      href="#livestock-infections">animals</a>.  In particular, we focus on
      spatial and temporal heterogeneity in transmission, due to variation in
      host-dependent parameters (e.g contact patterns, age, or compliance with
      public health recommendations). We use and develop a variety of mathematical
      and statistical modeling tools to answer our questions, in particular tools
      of <a href="#network-epi">network science</a>.</p>
    </div>
    <div class="usa-width-one-third award-details">
      <p class="support"> We gratefully acknowledge support from: </p>
      <ul>
        {% for supporter in site.data.supporters %}
          <li class="supporter">{{ supporter.name }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="usa-width-two-thirds">

  {% for topic in site.data.research %}
    <h3 class="topic-header">{{topic.topic}}</h3>

    <ul class="usa-accordion-bordered research-accordion"> 
    {% for question in topic.questions %}
      <li>
        <button 
          class="usa-accordion-button shashank-weight"
          aria-expanded="true" aria-controls="{{topic.tag}}-{{forloop.index}}">
          {{question.question}}
        </button>
        <div id="{{topic.tag}}-{{forloop.index}}" class="usa-accordion-content">
          {% for paper in question.publications %}
            <span class="publication-name">
            {% if paper.full_text_article %}
              <a href="{{ site.github.url}}/publications/{{ paper.full_text_article }}">{{ paper.title }}</a>
            {% elsif paper.link %}
              <a href="{{paper.link}}">{{ paper.title }}</a>
            {% else %}
              {{ paper.title }}
            {% endif %}
            <br />
            <span class="publication-author">
            {% for author in paper.authors %}
              {% if forloop.last %}
                {% if author.lab %}<span class="publication-author-lab">{% endif %}
                  {{ author.name }}
                {% if author.lab %}</span>{% endif %}
              {% else %}
                {% if author.lab %}<span class="publication-author-lab">{% else %}{% endif %}
                  {{ author.name }},
                {% if author.lab %}</span>{% endif %}
              {% endif %}
            {% endfor %} <br>
            {% if paper.journal %}
            <span class="publications-journal">{{paper.journal}}</span>,
            <span class="publications-citation"><a href=" {{paper.link}} ">{{paper.citation}}</a></span>
            {% endif %}

        </span>
        <br/>

        </span>

          {% endfor %}
        </div>
      </li>
    {% endfor %}
    </ul>
  {% endfor %}
 </div>
 <div class="usa-width-one-third">
  <img 
    src="{{ site.github.url }}/img/research/elizabeth-pratha-working.jpg"
    alt="Elizabeth and Pratha working at their desks">
  <img  
    src="{{ site.github.url }}/img/research/tortoise-oral-swab.jpg"
    alt="A tortoise in Nevada being swabbed orally">
 </div>
</div>
</div>

</section>
