<footer class="usa-footer usa-footer-medium" role="contentinfo">
  <div class="usa-grid usa-footer-return-to-top">
    <a href="#">Return to top</a>
  </div>
  <div class="usa-footer-primary-section">
    <div class="usa-grid-full">
      <div class="usa-grid">
        <div class="usa-width-one-fourth">
          <img  class="playimage" 
                src="https://bansallab.com/img/lab-at-play/play1.jpg" 
                alt="Lab halloween costumes, dressed as Super Spreaders">
        </div>
        <div class="usa-width-one-fourth">
          <img  class="playimage" 
                src="https://bansallab.com/img/lab-at-play/play2.jpg"
                alt="Pretty spring scene from Georgetown campus">
        </div>
        <div class="usa-width-one-fourth">
          <img  class="playimage" 
                src="https://bansallab.com/img/lab-at-play/play3.jpg"
                alt="Lab celebrates a publication with cupcakes">
        </div>
        <div class="usa-width-one-fourth">
          <img  class="playimage" 
                src="https://bansallab.com/img/lab-at-play/play5.jpg"
                alt="Members of the lab go out to a Nationals game">
        </div>
      </div>
    </div>
  </div>
 <div class="usa-footer-secondary_section">
    <div class="usa-grid">
      <div class="usa-footer-logo usa-width-one-half">
        <img  class="footer-logo" 
              src="https://bansallab.com/img/bansallab-logo.png"
              alt="Bansal Lab logo">
        <h3 class="usa-footer-logo-heading">Bansal Lab</h3>
      </div>
      <div class="usa-footer-contact-links usa-width-one-half">
        <a href="https://twitter.com/bansallab" aria-label="Link to Twitter">
          <i class="fa fa-twitter fa-2x" aria-hidden="true" title="Twitter"></i>
        </a>
        <a href="https://github.com/bansallab" aria-label="Link to Github"><i class="fa fa-github-alt fa-2x" aria-hidden="true" title="Github"></i></a>
        <p><a href="mailto:shweta@sbansal.com">shweta@sbansal.com</a></p>
        <address>
          Regent's Hall <br>
          Department of Biology, Georgetown University
        </address>
      </div>
   </div>
  </div>
</footer>

<script src="https://bansallab.com/js/uswds.min.js"></script>
