<footer class="usa-footer usa-footer-medium" role="contentinfo">
  <div class="usa-grid usa-footer-return-to-top">
    <a href="#">Return to top</a>
  </div>
  <div class="usa-footer-primary-section bxfooter">
    <div class="usa-grid-full">
    </div>
  </div>
  <div class="usa-footer-secondary_section background-gray">
    <div class="usa-grid">
      <div class="usa-footer-logo usa-width-one-half">
        <img class="footer-logo" alt="Bansal Lab logo (network diagram)" src="{{ site.github.url }}/img/trial-logo.png">
      </div>
      <div class="usa-footer-contact-links usa-width-one-half footer-contact">
        <a href="https://github.com/bansallab" aria-label="Link to Github"><i class="fa fa-github-alt fa-2x" aria-hidden="true" title="Github"></i></a>
        <a href="https://twitter.com/bansallab" aria-label="Link to Twitter">
          <i class="fa fa-twitter fa-2x" aria-hidden="true" title="Twitter"></i>
        </a>
        <p>Bansal Lab <br>
        <a href="mailto:shweta@sbansal.com">shweta@sbansal.com</a><br>
          Department of Biology at Georgetown University
        </p>
      </div>
    </div>
  </div>
</footer>

<script src="{{ site.github.url }}/js/uswds.min.js"></script>
