<header class="usa-header usa-header-extended" role="banner">
  <div class="usa-banner">
    <div class="usa-accordion">
      <header class="usa-banner-header">
      <div class="usa-grid usa-banner-inner">
        <p>Department of Biology at Georgetown University</p>
      </div>
    </div>
  </div>

  <div class="usa-navbar">
    <button class="usa-menu-btn">Menu</button>
    <div class="usa-logo" id="logo">
      <em class="usa-logo-text">
        <a href="{{ site.github.url }}/">Bansal Lab</a>
      </em>
    </div>
  </div>
  <nav role="navigation" class="usa-nav">
    <div class="usa-nav-inner">
      <button class="usa-nav-close">
        <img src="{{ site.github.url }}/img/close.svg" alt="close">
      </button>
      <ul class="usa-nav-primary usa-accordion">
        <li>
          <a {% if page.title == 'research' %} class="usa-current usa-nav-link" {% else %} class="usa-nav-link" {% endif %} href="{{ site.github.url }}/research.html">
            <span>Research</a>
          </a>
        </li>
        <li>
          <a {% if page.title == 'publications' %} class="usa-current usa-nav-link" {% else %} class="usa-nav-link" {% endif %} href="{{ site.github.url }}/publications.html">
            <span>Publications</a>
          </a>
        </li>
        <li>
          <a {% if page.title == 'people' %} class="usa-current usa-nav-link" {% else %} class="usa-nav-link" {% endif %} href="{{ site.github.url }}/people.html">
            <span>People</a>
          </a>
        </li>
        <li>
          <a {% if page.title == 'opportunities' %} class="usa-current usa-nav-link" {% else %} class="usa-nav-link" {% endif %}  href="{{ site.github.url }}/opportunities.html">
            <span>Opportunities</a>
          </a>
        </li>
        <li>
          <a {% if page.title == 'courses' %} class="usa-current usa-nav-link"
          {% else %} class="usa-nav-link" {% endif %}  href="{{
          site.github.url }}/courses.html">
            <span>Courses</a>
          </a>
        </li>
        <li>
          <a {% if page.title == 'about' %} class="usa-current usa-nav-link"
          {% else %} class="usa-nav-link" {% endif %}  href="{{
          site.github.url }}/about.html">
            <span>About</a>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
