
.shashank-weight {
  font-weight: normal;
}

.shashank-people-image {
  width: 138px;
  height: 165px;
}

.space-it-out {
  padding-bottom: 2em;
  font-size: 80%;
}

.people-border {
  border-top: 1rem solid #6babe5;
  padding-bottom: 1rem;
}
