$gray-text: #5b616b;

.lab-name-header {
  color: #00205C;
}

.shashank-weight {
  font-weight: normal;
}

.shashank-people-image {
  width: 138px;
  height: 165px;
}

.space-it-out {
  padding-bottom: 2em;
  font-size: 80%;
}

.bottom-space {
  padding-bottom: 1em;
}

.people-border {
  border-top: 2px solid #6babe5;
  padding-top: 1rem;
}

.degree-position {
  color: #5b616b;
  font-size: 1.2rem;
  font-weight:700px;
  letter-spacing:0.5px;
  text-transform:uppercase;
}

.playimage {
  width: 216px;
  height: 144px;
}

.bolder {
  font-weight: 700;
}

.labcard {
  background-color: #5b616b;
}

.flexrow {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding-bottom: 2em;
  flex-flow: row wrap;
  justify-content: center;
}

.flexcol {
  flex-grow: 2;
  text-align: center;
  background-color: #b9d9ec;
  padding: 1em;
}

.cardimage {
  height: 68px;
}

.publication-name {
  font-size: 110%;
}

.publication-author {
  font-size: 80%; 
}

.publication-author-lab {
  font-weight: 600;
  color: $gray-text;
}

.publications-journal {
  font-size: 90%;
  font-style: italic;
}

.publications-citation {
  font-size: 80%
}

.news {
  padding-top: 2em;
}

@media screen and (max-width: 951px) {
  .header-logo {
    display: none;
  }
}

.readable-narrow {
  max-width: 53rem; 
}

.background-gray {
  background-color: #f1f1f1; }

.background-medium {
  background-color: #046b99; }

.background-dark {
  background-color: #1C304A; }

section.press {
  h2 {
    border-bottom: 0px;
  }
  .story {
    padding: 20px 20px 20px 0;
    border-top: 1px solid #6BABE5;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    .author {
      padding-top: 1em;
      display: block;
      font-size: 0.8em;
      font-weight: 700; 
      color: #8A2432;
    }
  }
}

section.publications {
  .year {
    color: #8a2432;
  }
  .software-sidebar {
    background-color: #f9e08e;
    padding: 10px;
  }
}

section.support {
  .supporter  {
    padding: 10px 10px 10px 0;
  }
}

section.collaboration {
  .collaborator {
    padding: 10px 10px 10px 0;
  }
}

.bxheader {
  color: $gray-text;
}


h1, h2, h3, h4 {
  font-family: "Source Sans Pro", "sans-serif";
}

h2 {
  border-bottom: 2px solid #6babe5;
  padding-bottom: 0.5rem;
}

.heroheader {
  font-family: "Source Sans Pro", "sans-serif";
  border-bottom: 0px;
}

.herocallout {
  background-color: #00205c;
  color: #b9d9ec;
}

.bxfooter {
  background-color: #FCF0CB;
}

.footer-contact {
  font-size: 0.8em;
}

.menubackground {
  background-color: #00205C;
}


section.research {
  .topic-header {
    border-bottom: 2px solid #6babe5;
    padding-bottom: 0.5rem;
  }

  .research-accordion {
    padding-top: 2rem; 
  }

  .support {
    font-size: 90%
  }

  .supporter {
    margin-bottom: 0;
    font-size: 90%;
    list-style-type: none;
  }
}

.award-grid {
  padding-bottom: 2rem;
}

.award-details {
  padding: 1em;
  background-color: #b9d9ec;
}

.award {
  font-size: 85%;
  font-weight: 400;
}

.awardee {
  font-size: 80%;
  font-weight: 600;
  color: $gray-text;
}

.awarddate {
  font-size: 70%;
  font-weight: 400;
}

.corner {
  font-size: 80%;
  line-height: 1;
  padding-top: 0;
  text-align: right;
}

.short {
  line-height: 1;
}

.awardhonors {
  font-size: 2rem;
  border-bottom: 0px;
}

section.fullawards {
  .short {
    line-height: 1;
  }

  .awardee {
    font-size: 90%;
    font-weight: 600;
    color: $gray-text;
  }

  .awarddate {
    font-size: 80%;
    font-weight: 300;
  }
}
