
.shashank-weight {
  font-weight: normal;
}

.shashank-people-image {
  width: 138px;
  height: 165px;
}

.space-it-out {
  padding-bottom: 2em;
  font-size: 80%;
}

.people-border {
  border-top: 1rem solid #6babe5;
  padding-top: 1rem;
}

.degree-position {
  color: #5b616b;
  font-size: 1.2rem;
  font-weight:700px;
  letter-spacing:0.5px;
  text-transform:uppercase;
}

.playimage {
  width: 216px;
  height: 144px;
}

.bolder {
  font-weight: 700;
}

.labcard {
  background-color: #5b616b;
}

.flexrow {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding-bottom: 2em;
  flex-flow: row wrap;
  justify-content: center;
}

.flexcol {
  flex-grow: 2;
  text-align: center;
  background-color: #e7f4e4;
  padding: 1em;
}

.cardimage {
  height: 68px;
}

.publication-name {
  font-size: 110%;
}

.publication-author {
  font-size: 80%; 
}

.publication-author-lab {
  font-style: italic;
}

.publications-journal {
  font-size: 90%;
  font-style: italic;
}

.publications-citation {
  font-size: 80%
}

.footer-logo {
  width: 99px;
  height: 107px;
}

.header-logo {
  width: 49px;
  height: 53px;
}

.news {
  padding-top: 2em;
}

@media screen and (max-width: 951px) {
  .header-logo {
    display: none;
  }
}

.readable-narrow {
  max-width: 53rem; 
}

.background-gray {
  background-color: #f1f1f1; }

.background-medium {
  background-color: #046b99; }

.background-dark {
  background-color: #1C304A; }

.press-story {
  color: #FFFFFF;
  border-top: 1px solid #FFFFFF;
  padding: 20px 20px 20px 0;
}

.press-author {
  display: block;
  font-size: 0.8em;
  color: #56A8DF;
}
